In [1]:
import numpy as np
import pandas as pd
import time
from datetime import datetime

In [2]:
spray = pd.read_csv('../data/spray.csv')

In [3]:
spray.shape

(14835, 4)

In [4]:
spray.head()

         Date        Time   Latitude  Longitude
0  2011-08-29  6:56:58 PM  42.391623 -88.089163
1  2011-08-29  6:57:08 PM  42.391348 -88.089163
2  2011-08-29  6:57:18 PM  42.391022 -88.089157
3  2011-08-29  6:57:28 PM  42.390637 -88.089158
4  2011-08-29  6:57:38 PM  42.390410 -88.088858

In [5]:
#check for nulls
spray.isnull().sum()

Date           0
Time         584
Latitude       0
Longitude      0
dtype: int64

Spray times are happening at very close intervals. So the modelling would not be affected by the Time of the spray but rather the date.

In [6]:
#drop time column
spray.drop(columns =['Time'], inplace = True)

In [7]:
spray.head()

         Date   Latitude  Longitude
0  2011-08-29  42.391623 -88.089163
1  2011-08-29  42.391348 -88.089163
2  2011-08-29  42.391022 -88.089157
3  2011-08-29  42.390637 -88.089158
4  2011-08-29  42.390410 -88.088858

In [8]:
# Drop duplicates
spray = spray.drop_duplicates()

In [9]:
def lowercase_cols(columns):
    return [column.lower() for column in columns]

In [10]:
# Lowercase columns
spray.columns = lowercase_cols(spray.columns)

In [11]:
#convert date to datetime format
spray.date = pd.to_datetime(spray.date)

In [12]:
#create individual columns for day, month, year for spray
spray['year'] = spray['date'].dt.year
spray['month'] = spray['date'].dt.month
spray['day'] = spray['date'].dt.day

In [13]:
spray.head()

        date   latitude  longitude  year  month  day
0 2011-08-29  42.391623 -88.089163  2011      8   29
1 2011-08-29  42.391348 -88.089163  2011      8   29
2 2011-08-29  42.391022 -88.089157  2011      8   29
3 2011-08-29  42.390637 -88.089158  2011      8   29
4 2011-08-29  42.390410 -88.088858  2011      8   29

In [15]:
#save cleaned spray dataset to csv
spray.to_csv('../data/clean_spray.csv')